@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes moveHorizontalFast {
  0%, 100% {
    transform: translateX(-30%);

  }
  50% {
    transform: translateX(60%);

  }
}
@keyframes moveHorizontalMedium {
  0%, 100% {

    transform: translateX(50%)
  }
  50% {

    transform: translateX(-10%)
  }
}

@keyframes moveHorizontalSlow {
  0%, 100% {

    transform: translateX(60%)
  }
  50% {

    transform: translateX(-65%)
  }
}


.animate-moveHorizontalFast {
  animation: moveHorizontalFast 8s ease-in-out infinite;
}
.animate-moveHorizontalSlow {
  animation: moveHorizontalSlow 12s ease-in-out infinite;
}
.animate-moveHorizontalMedium {
  animation: moveHorizontalMedium 10s ease-in-out infinite;
}

.clignoter {
  animation: clignoter 1s step-end infinite;
}

@keyframes clignoter {
  0%, 100%{
    visibility: visible;
  } 
  50% {
    visibility: hidden;
  }
}

.profil {
  animation: bounce 4s cubic-bezier(0.68, -0.55, 0.27, 1.55);

}

@keyframes bounce {
  0% {
    transform: translate(-220px, -220px) scale(.5) ;
    /* animation-timing-function: e; */
  }
  50% {
    transform: scale(1.1);
    /* animation-timing-function: ease-in; */
  }

  75% {
    transform: scale(1.2) ;
    box-shadow: 10px 10px 20px rgba(0, 204, 255, 0.158);
  }
  85% {
    transform: translate(-7px, -7px);
  }
  90% {
    transform: translate(3px, 3px);
  }

}
